<!DOCTYPE html>
<html lang="en">

<head>
	<div th:include="site/layoutSite :: head"></div>
	
	<title>Java 2022 - Home</title>
</head>

<body>

    <!-- ***** Preloader Start ***** -->
	<div th:include="site/layoutSite :: preloader"></div>
    <!-- ***** Preloader End ***** -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <!-- ***** Header Area Start ***** -->
    <div th:include="site/layoutSite :: header"></div>
    <!-- ***** Header Area End ***** -->
	<div th:include="site/layoutSite :: footer"></div>
    <!-- ***** Footer Start ***** -->

	<div th:include="site/layoutSite :: scripts"></div>

    

</body>
</html>