<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:fragment="head">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="TemplateMo">
      <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  
      
  <!--
  
  Lava Landing Page
  
  https://templatemo.com/tm-540-lava-landing-page
  
  -->
  
      <!-- Additional CSS Files -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
  
      <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}">
  
      <link rel="stylesheet" th:href="@{/css/templatemo-lava.css}">
  
      <link rel="stylesheet" th:href="@{/css/owl-carousel.css}">
    </div>
  </head>
  <body>
    <div th:fragment="preloader">
      <div id="preloader">
        <div class="jumper">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>

    <div th:fragment="header">
      <header class="header-area header-sticky">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="main-nav">
                <!-- ***** Logo Start ***** -->
                <a href="/site" class="logo"> Java 2022 </a>
                <!-- ***** Logo End ***** -->
                <!-- ***** Menu Start ***** -->
                <ul class="nav">
                  <li class="scroll-to-section">
                    <a href="/site" class="menu-item">Home</a>
                  </li>
                  <li class="scroll-to-section">
                    <a href="/site#produtos" class="menu-item">Produtos</a>
                  </li>
                  <li class="scroll-to-section">
                    <a href="/site#noticias" class="menu-item">Noticias</a>
                  </li>
                  <li class="submenu" th:if="${usuariosession} != null">
                    <a href="javascript:;">Perfil</a>
                    <ul>
                      <li th:if="${usuariosession.getTipousuario.descricao} == Administrador"><a href="/home" class="menu-item">Gerenciador</a></li>
                      <li><a href="/logout" class="menu-item">Sair</a></li>
                    </ul>
                  </li>
                  <li class="scroll-to-section" th:if="${usuariosession} == null">
                    <a href="/login" class="menu-item">Entrar</a>
                  </li>
                </ul>
                <a class="menu-trigger">
                  <span>Menu</span>
                </a>
                <!-- ***** Menu End ***** -->
              </nav>
            </div>
          </div>
        </div>
      </header>
    </div>

    <div th:fragment="footer">
      <footer id="contact-us">
        <div class="container">
          <div class="footer-content">
            <div class="row">
              <div class="right-content col-lg-6 col-md-12 col-sm-12">
                <h2><em>Parceiros</em></h2>
                <p>
                 
                </p>
              </div>
              <div class="right-content col-lg-6 col-md-12 col-sm-12">
                <h2>Mais Sobre <em>Java 2022</em></h2>
                <p>
                  Esse Sistema é um projeto da materia Programação Web Java pela professora Ana Paula, na faculdade 
                  <a
                    rel="nofollow"
                    href="https://toledoprudente.edu.br"
                    target="_blank"
                    >Toledo Prudente</a
                  >.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="sub-footer">
                <p>
                  Copyright &copy; 2020 João Pedro Tomé / Toledo Prudente 
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <div th:fragment="scripts">
      <!-- jQuery -->
      <script th:src="@{/js/jquery-2.1.0.min.js}"></script>

      <!-- Bootstrap -->
      <script th:src="@{/js/popper.js}"></script>
      <script th:src="@{/js/bootstrap.min.js}"></script>

      <!-- Plugins -->
      <script th:src="@{/js/owl-carousel.js}"></script>
      <script th:src="@{/js/scrollreveal.min.js}"></script>
      <script th:src="@{/js/waypoints.min.js}"></script>
      <script th:src="@{/js/jquery.counterup.min.js}"></script>
      <script th:src="@{/js/imgfix.min.js}"></script>

      <!-- Global Init -->
      <script th:src="@{/js/custom.js}"></script>
    </div>
  </body>
</html>
