<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>Cadastro Usuario</title>
  </head>
  <body>
    <div th:include="layout :: nav"></div>
    <div class="container">
      <form method="post" th:action="@{/usuario/salvar}" th:object="${usuario}">
        <h1>Cadastro de Usuario</h1>

        <div class="row">
          <div class="mb-3 col-md-6">
            <input type="text" style="display: none" th:field="*{id}" />

            <label>Login</label>
            <input
              type="text"
              class="form-control"
              placeholder="Login"
              th:field="*{Login}"
              th:classappend="${#fields.hasErrors('Login')} ? 'is-invalid'"
            />

            <div class="invalid-feedback">
              <span th:errors="*{Login}"></span>
            </div>
          </div>

          <div class="mb-3 col-md-6">
            <label>Senha</label>
            <input
              type="text"
              class="form-control"
              placeholder="Senha"
              th:field="*{Senha}"
              th:classappend="${#fields.hasErrors('Senha')} ? 'is-invalid'"
            />

            <div class="invalid-feedback">
              <span th:errors="*{Senha}"></span>
            </div>
          </div>

          <div class="mb-3 col-md-6">
            <label>tipousuario</label>
            <select
              th:field="*{tipousuario.id}"
              class="form-control"
              th:classappend="${#fields.hasErrors('tipousuario')} ? 'is-invalid'"
            >
              <option value="">Selecione um tipo de usuario.</option>
              <option
                th:each="c : ${listatipoUsuario}"
                th:value="${c.id}"
                th:text="${c.Descricao}"
              ></option>
            </select>

            <div class="invalid-feedback">
              <span th:errors="*{tipousuario}"></span>
            </div>
          </div>

          <div class="mb-3 col-md-6">
            <label>Pessoa</label>
            <select
              th:field="*{pessoa.id}"
              class="form-control"
              th:classappend="${#fields.hasErrors('pessoa')} ? 'is-invalid'"
            >
              <option value="">Selecione uma Pessoa.</option>
              <option
                th:each="c : ${listaPessoa}"
                th:value="${c.id}"
                th:text="${c.PrimeiroNome}"
              ></option>
            </select>

            <div class="invalid-feedback">
              <span th:errors="*{pessoa}"></span>
            </div>
          </div>
        </div>

        <input type="submit" class="btn btn-primary" />

        <span th:text="${validacao}"></span>
      </form>
    </div>

    <div th:include="layout :: footer"></div>

    
    <script th:if="${mensagem} == success" th:inline="javascript">
      Swal.fire({
        title: 'Sucesso',
        text: "Cadastro Feito Com Sucesso",
        icon: 'success',
        confirmButtonText: 'Ok'
      })
    </script>
    <script th:if="${mensagem} == erro" th:inline="javascript">
      Swal.fire({
        title: 'Sucesso',
        text: "Cadastro Feito Com Sucesso",
        icon: 'success',
        confirmButtonText: 'Ok'
      })
    </script>
  </body>
</html>
