<!DOCTYPE html>
<html lang="en">

<head>
  <div th:include=" layout :: head"></div>
  <title>Cadastro Produto Status</title>
</head>

<body>
  <div th:include="layout :: preloader"></div>
  <div th:include="layout :: nav"></div>
  <div class="container" style="margin-top: 10rem;">

    <form Method="post" th:action="@{/produtostatus/salvar}" th:object="${produtostatus}">

      <h1 class="text-center mb-3">Cadastro de Produto Status</h1>

      <div class="row justify-content-center">

        <div class="mb-3 col-md-6">
          <input type="hidden" th:field="*{id}">
          <label>Status</label>
          <input type="text" class="form-control" placeholder="Status" th:field="*{Status}"
            th:classappend="${#fields.hasErrors('Status')} ? 'is-invalid'" />

          <div class="invalid-feedback">
            <span th:errors="*{Status}"></span>
          </div>

        </div>

      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <input type="submit" class="btn btn-primary float-right">
        </div>
      </div>
    </form>
  </div>

  <div th:include="layout :: footer"></div>

  <div th:include="layout :: scripts"></div>

  <script th:if="${mensagem} == success" th:inline="javascript">
    Swal.fire({
      title: 'Sucesso',
      text: "Cadastro Feito Com Sucesso",
      icon: 'success',
      confirmButtonText: 'Ok'
    })
  </script>
  <script th:if="${mensagem} == erro" th:inline="javascript">
    Swal.fire({
      title: 'Erro',
      text: "Occoreu um Erro",
      icon: 'error',
      confirmButtonText: 'Ok'
    })
  </script>
</body>

</html>