<!DOCTYPE html>
<html lang="en">
  <head>
    <div th:include=" layout :: head"></div>
    <title>Lista Tipo Usuario</title>
  </head>
  <body>
    <div th:include="layout :: preloader"></div>
  <div th:include="layout :: nav"></div>
  <div class="container" style="margin-top: 10rem;">
      <form>
        <h1>Lista de Tipo Usuario</h1>

        <table class="table">
          <thead>
            <tr>
              <th>Código</th>
              <th>Descricao</th>
              <th>Açoes</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="d : ${listatipousuario}">
              <td th:text="${d.id}"></td>
              <td th:text="${d.Descricao}"></td>
              <td>
                <a
                  class="btn btn-primary"
                  th:href="@{/tipousuario/alterar(id=${d.id})}"
                  >Alterar</a
                >
                <button
                  type="button"
                  class="btn btn-danger excluir"
                  id="btnExcluir"
                  data-value="/tipousuario/excluir?id={id}"
                  th:id="${d.id}"
                  data-target="#myModal"
                  data-toggle="modal"
                >
                  Excluir
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <!--CONFIRM MODAL-->
        <div
          class="modal fade"
          tabindex="-1"
          role="dialog"
          id="myModal"
          th:fragment="modal"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                ></button>
                <h4 class="modal-title">Atenção</h4>
              </div>
              <div class="modal-body">
                <p>Confirma a exclusão?</p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-dismiss="modal"
                >
                  Cancelar
                </button>
                <button id="ok_confirm" type="button" class="btn btn-danger">
                  Ok
                </button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      </form>
    </div>
    <div th:include="layout :: footer"></div>

    <div th:include="layout :: scripts"></div>
    <script>
      var url = "";
      $(".excluir").on("click", function () {
        url = $(this).attr("data-value");
        url = url.replace("{id}", $(this).attr("id"));
      });

      $("#ok_confirm").click(function () {
        document.location.href = "http://localhost:8080" + url;
      });
    </script>
    <script th:if="${mensagem} == erroDelete" th:inline="javascript">
      Swal.fire({
        title: 'Erro',
        text: "Erro ao Excluir, talvez algum Usuario seja dessa Tipo Usuario",
        icon: 'error',
        confirmButtonText: 'Ok'
      })
    </script>
    
  </body>
</html>
