<!DOCTYPE html>
<html lang="en">

<head>
  <div th:include=" layout :: head"></div>
  <title>Cadastro Email</title>
</head>

<body>
  <div th:include="layout :: preloader"></div>
  <div th:include="layout :: nav"></div>
  <div class="container" style="margin-top: 10rem;">
    <form method="post" th:action="@{/pessoa/salvar}" th:object="${pessoa}">
      <h1 class="text-center mb-3">Cadastro de Pessoa</h1>

      <div class="row justify-content-center">
        <div class="mb-3 col-md-6">
          <input type="text" style="display: none" th:field="*{id}" />

          <label>Nome</label>
          <input type="text" class="form-control" placeholder="PrimeiroNome" th:field="*{PrimeiroNome}"
            th:classappend="${#fields.hasErrors('PrimeiroNome')} ? 'is-invalid'" />

          <div class="invalid-feedback">
            <span th:errors="*{PrimeiroNome}"></span>
          </div>
        </div>

        <div class="mb-3 col-md-6">
          <label>Sobrenome</label>
          <input type="text" class="form-control" placeholder="SobreNome" th:field="*{SobreNome}"
            th:classappend="${#fields.hasErrors('SobreNome')} ? 'is-invalid'" />

          <div class="invalid-feedback">
            <span th:errors="*{SobreNome}"></span>
          </div>
        </div>

        <div class="mb-3 col-md-6">
          <label>CPF</label>
          <input type="text" class="form-control" placeholder="CPF" th:field="*{CPF}"
            th:classappend="${#fields.hasErrors('CPF')} ? 'is-invalid'" />

          <div class="invalid-feedback">
            <span th:errors="*{CPF}"></span>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-6">
          <input type="submit" class="btn btn-primary float-right" />
        </div>
      </div>

      

      <span th:text="${validacao}"></span>
    </form>
  </div>

  <div th:include="layout :: footer"></div>

  <div th:include="layout :: scripts"></div>
  <script th:if="${mensagem} == success" th:inline="javascript">
    Swal.fire({
      title: 'Sucesso',
      text: "Cadastro Feito Com Sucesso",
      icon: 'success',
      confirmButtonText: 'Ok'
    })
  </script>
  <script th:if="${mensagem} == erro" th:inline="javascript">
    Swal.fire({
      title: 'Erro',
      text: "Occoreu um Erro",
      icon: 'error',
      confirmButtonText: 'Ok'
    })
  </script>
</body>

</html>