<!DOCTYPE html>
<html lang="en">
  <head>
    <div th:include=" layout :: head"></div>

    <title>Cadastro Telefone</title>
  </head>
  <body>
    <div th:include="layout :: preloader"></div>
  <div th:include="layout :: nav"></div>
  <div class="container" style="margin-top: 10rem;">
      <form
        method="post"
        th:action="@{/telefone/salvar}"
        th:object="${telefone}"
      >
        <h1>Cadastro de Telefone</h1>

        <div class="row justify-content-center">
          <div class="mb-3 col-md-6">
            <input type="text" style="display: none" th:field="*{id}" />

            <label>Tipo</label>
            <input
              type="text"
              class="form-control"
              placeholder="Tipo"
              th:field="*{Tipo}"
              th:classappend="${#fields.hasErrors('Tipo')} ? 'is-invalid'"
            />

            <div class="invalid-feedback">
              <span th:errors="*{Tipo}"></span>
            </div>
          </div>

          <div class="mb-3 col-md-6">
            <label>Telefone</label>
            <input
              type="text"
              class="form-control"
              placeholder="telefone"
              th:field="*{telefone}"
              th:classappend="${#fields.hasErrors('telefone')} ? 'is-invalid'"
            />

            <div class="invalid-feedback">
              <span th:errors="*{telefone}"></span>
            </div>
          </div>

          <div class="mb-3 col-md-6">
            <label>Pessoa</label>
            <select
              th:field="*{pessoa.id}"
              class="form-control"
              th:classappend="${#fields.hasErrors('pessoa')} ? 'is-invalid'"
            >
              <option value="">Selecione uma Pessoa.</option>
              <option
                th:each="c : ${listaPessoa}"
                th:value="${c.id}"
                th:text="${c.PrimeiroNome}"
              ></option>
            </select>

            <div class="invalid-feedback">
              <span th:errors="*{pessoa}"></span>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-6">
            <input type="submit" class="btn btn-primary float-right">
          </div>
        </div>

        <span th:text="${validacao}"></span>
      </form>
    </div>
    
    <div th:include="layout :: footer"></div>

    <div th:include="layout :: scripts"></div>
  
    <script th:if="${mensagem} == success" th:inline="javascript">
      Swal.fire({
        title: 'Sucesso',
        text: "Cadastro Feito Com Sucesso",
        icon: 'success',
        confirmButtonText: 'Ok'
      })
    </script>
    <script th:if="${mensagem} == erro" th:inline="javascript">
      Swal.fire({
        title: 'Erro',
        text: "Occoreu um Erro",
        icon: 'error',
        confirmButtonText: 'Ok'
      })
    </script>
  </body>
</html>
