<!DOCTYPE html>
<html lang="en">

<head>
  <div th:include=" layout :: head"></div>
  <title>Cadastro Noticia</title>
</head>

<body>
  <div th:include="layout :: preloader"></div>
  <div th:include="layout :: nav"></div>
  <div class="container" style="margin-top: 10rem;">

    <form Method="post" th:action="@{/noticia/salvar}" th:object="${noticia}" enctype="multipart/form-data">

      <h1>Cadastro de Noticia</h1>

      <div class="row justify-content-center">
        <input type="hidden" th:field="*{id}">

        <div class="mb-3 col-md-6">

          <label>Titulo</label>
          <input type="text" class="form-control" placeholder="Titulo" th:field="*{Titulo}"
            th:classappend="${#fields.hasErrors('Titulo')} ? 'is-invalid'" />

          <div class="invalid-feedback">
            <span th:errors="*{Titulo}"></span>
          </div>

        </div>

        <div class="mb-3 col-md-6">

          <label>Conteudo</label>
          <input type="text" class="form-control" placeholder="Conteudo" th:field="*{Conteudo}"
            th:classappend="${#fields.hasErrors('Conteudo')} ? 'is-invalid'" />

          <div class="invalid-feedback">
            <span th:errors="*{Conteudo}"></span>
          </div>

        </div>

        <div class="mb-3 col-md-6">
          <label>Imagem</label>
          <input type="file" name="file" id="file" class="form-control-file">
        </div>

        
      </div>
      
      <div class="row justify-content-center">
        <div class="col-md-6">
          <input type="submit" class="btn btn-primary float-right">
        </div>
      </div>
    </form>
  </div>


  <div th:include="layout :: footer"></div>

  <div th:include="layout :: scripts"></div>

  <script th:if="${mensagem} == success" th:inline="javascript">
    Swal.fire({
      title: 'Sucesso',
      text: "Cadastro Feito Com Sucesso",
      icon: 'success',
      confirmButtonText: 'Ok'
    })
  </script>
  <script th:if="${mensagem} == erro" th:inline="javascript">
    Swal.fire({
      title: 'Erro',
      text: "Occoreu um Erro",
      icon: 'error',
      confirmButtonText: 'Ok'
    })
  </script>
</body>

</html>