<!DOCTYPE html>
<html lang="pt-br">

<head>
  <div th:include="site/layoutSite :: head"></div>
  <title>Login</title>
</head>

<body>
  <!-- ***** Preloader Start ***** -->
  <div th:include="site/layoutSite :: preloader"></div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <div th:include="site/layoutSite :: header"></div>
  <!-- ***** Header Area End ***** -->

  <div class="container" style="margin-top: 10rem;">

    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center">Login</h1>

        <form th:action="@{/login}" method="post" class="form">
          <p th:if="${mensagem != null}" th:text="${mensagem}"></p>
    
          <div class="form-group">
            <label for="username">E-mail:</label>
                  <input type="text" id="username" name="username" class="form-control"/>
          </div>
    
          <div class="form-group">
            <label for="password">Senha:</label>
                  <input type="password" id="password" name="password" class="form-control"/>
          </div>
            <div class="row justify-content-center">
              <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Entrar</button>
              </div>
            </div>
        </form>
      </div>


    </div>

    
  </div>

  <div th:include="site/layoutSite :: footer"></div>
  <!-- ***** Footer Start ***** -->

  <div th:include="site/layoutSite :: scripts"></div>
</body>

</html>