<!DOCTYPE html>
<html lang="en">
  <head>
    <div th:include=" layout :: head"></div>

    <title>Cadastro produto</title>
  </head>
  <body>
    <div th:include="layout :: preloader"></div>
  <div th:include="layout :: nav"></div>
  <div class="container" style="margin-top: 10rem;">
      <form method="post" th:action="@{/produto/salvar}" th:object="${produto}" enctype="multipart/form-data">
        <h1 class="text-center mb-3">Cadastro de produto</h1>

        <div class="row">
          <div class="mb-3 col-md-6">
            <input type="text" style="display: none" th:field="*{id}" />

            <label>Nome</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nome"
              th:field="*{Nome}"
              th:classappend="${#fields.hasErrors('Nome')} ? 'is-invalid'"
            />

            <div class="invalid-feedback">
              <span th:errors="*{Nome}"></span>
            </div>
          </div>

          <div class="mb-3 col-md-6">
            <label>Descricao</label>
            <input
              type="text"
              class="form-control"
              placeholder="Descricao"
              th:field="*{Descricao}"
              th:classappend="${#fields.hasErrors('Descricao')} ? 'is-invalid'"
            />

            <div class="invalid-feedback">
              <span th:errors="*{Descricao}"></span>
            </div>
          </div>

          <div class="mb-3 col-md-6">
            <label>Valor</label>
            <input
              type="text"
              class="form-control"
              placeholder="Valor"
              th:field="*{Valor}"
              data-mask="###0.00"
              th:classappend="${#fields.hasErrors('Valor')} ? 'is-invalid'"
            />

            <div class="invalid-feedback">
              <span th:errors="*{Valor}"></span>
            </div>
          </div>

          <div class="mb-3 col-md-6">
            <label>Quantidade</label>
            <input
              type="text"
              class="form-control"
              placeholder="Quantidade"
              th:field="*{Quantidade}"
              th:classappend="${#fields.hasErrors('Quantidade')} ? 'is-invalid'"
            />

            <div class="invalid-feedback">
              <span th:errors="*{Quantidade}"></span>
            </div>
          </div>

          <!-- <div class="mb-3 col-md-6">
            <label>DataValidade</label>
            <input
              type="date"
              class="form-control"
              placeholder="DataValidade"
              th:field="*{DataValidade}"
              th:classappend="${#fields.hasErrors('DataValidade')} ? 'is-invalid'"
            />

            <div class="invalid-feedback">
              <span th:errors="*{DataValidade}"></span>
            </div>
          </div> -->

          <div class="mb-3 col-md-6">
            <label>Categoria</label>
            <select
              th:field="*{categoria}"
              class="form-control"
              th:classappend="${#fields.hasErrors('categoria')} ? 'is-invalid'"
            >
              <option value="">Selecione uma Opção.</option>
              <option
                th:each="c : ${listaCategoria}"
                th:value="${c.id}"
                th:text="${c.Descricao}"
              ></option>
            </select>

            <div class="invalid-feedback">
              <span th:errors="*{categoria}"></span>
            </div>
          </div>

          <div class="mb-3 col-md-6">
            <label>Marca</label>
            <select
              th:field="*{marca.id}"
              class="form-control"
              th:classappend="${#fields.hasErrors('marca')} ? 'is-invalid'"
            >
              <option value="">Selecione uma Opção.</option>
              <option
                th:each="c : ${listarMarcas}"
                th:value="${c.id}"
                th:text="${c.Nome}"
              ></option>
            </select>

            <div class="invalid-feedback">
              <span th:errors="*{marca}"></span>
            </div>
          </div>

          <div class="mb-3 col-md-6">
            <label>Produto Status</label>
            <select
              th:field="*{prodstatus.id}"
              class="form-control"
              th:classappend="${#fields.hasErrors('prodstatus')} ? 'is-invalid'"
            >
              <option value="">Selecione uma Opção.</option>
              <option
                th:each="c : ${listarProdStatus}"
                th:value="${c.id}"
                th:text="${c.Status}"
              ></option>
            </select>

            <div class="invalid-feedback">
              <span th:errors="*{prodstatus}"></span>
            </div>
          </div>


          <div class="mb-3 col-md-6">
            <label>Imagem</label>
            <input type="file" name="file" id="file" class="form-control-file">
          </div>
        </div>  

        <p th:if="${retorno}" th:text="${mensagem}"></p>


        <input type="submit" class="btn btn-primary float-right" />

        <span th:text="${validacao}"></span>
      </form>
    </div>

    <div th:include="layout :: footer"></div>

  <div th:include="layout :: scripts"></div>

    
    <script th:if="${mensagem} == success" th:inline="javascript">
      Swal.fire({
        title: 'Sucesso',
        text: "Cadastro Feito Com Sucesso",
        icon: 'success',
        confirmButtonText: 'Ok'
      })
    </script>
    <script th:if="${mensagem} == erro" th:inline="javascript">
      Swal.fire({
        title: 'Erro',
        text: "Occoreu um Erro",
        icon: 'error',
        confirmButtonText: 'Ok'
      })
    </script>
  </body>
</html>
